{% load static i18n  %}


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Återställ ditt lösenord</title>
  </head>

  <body>
    <p>{% trans 'För att återställa lösenord till ditt konto på {{ cookiecutter.project_slug }}, öppna följande länk på din mobila enhet:' %}</p>
    <a href={{ url }}>{{ url }}</a>
    <p>{% trans 'Om du inte vill återställa ditt lösenord så kan du ignorera detta meddelande. Det är möjligt att någon angav din e-post av misstag.' %}</p>
  </body>
</html>
 
