 {% load static i18n  %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ cookiecutter.project_slug }} - Lösenord</title>
  </head>

  <body>
    <h2>Omdirigerar...</h2>
    <h3>Öppna länken med din mobila enhet.</h3>

    <script>
       function mobileAndTabletcheck() {
         if(
           navigator.userAgent.match(/Android/i)
           || navigator.userAgent.match(/webOS/i)
           || navigator.userAgent.match(/iPhone/i)
           || navigator.userAgent.match(/iPad/i)
           || navigator.userAgent.match(/iPod/i)
           || navigator.userAgent.match(/BlackBerry/i)
           || navigator.userAgent.match(/Windows Phone/i)
         ){
           return true;
         }
         else {
          return false;
        }
       };

      if(mobileAndTabletcheck()){
       var queryDict = {}
       location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})
       document.location = 'example://password/'+queryDict.token;
      }

    </script>
  </body>
</html>

